{% if template == 'product' %}
	<div class='pds-donate-source' data-page='product' product-vendor='{{product.vendor}}'></div>
{% endif %}
{% if template == 'cart' %}
	<div class='pds-donate-source' data-page='cart'></div>
{% endif %}

