<div class="custom-text-section">
  <h2> {{ section.settings.custom_text_title }} </h2>
  <div>{{ section.settings.custom_text_body }}</div>
</div>

{% for block in section.blocks %}
  <img src= "{{block.settings.image | img_url: 'master'}}" width="200px" height="200px">
{% endfor %}

{% schema %}
  {
    "name": "Text Box",
    "settings": [
      {
        "id": "custom_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Title"
      },
      {
        "id": "custom_text_body",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      }
    ],

    "blocks": [
      {
        "type":"image",
        "name":"image block",
        "settings": [
           {
             "type":"image_picker",
             "label":"Enter your image",
             "id":"image"
           }
        ]
      }
    ],

    "presets": [
       {
        "name": "first_section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
